
.mainCont
	.appCont
		.plate
			main
				.img
				header
				body.arrowForth
				.control
					button.btnBack 
						.arrowBtnBack
						span.btnSpBack Prev
					button.btnForth
						span.btnSpForth Next
						.arrowBtnForth
					button.btnStore
						span.btnSpStore Find a Store
						.arrowBtnStore

//- div(ng-controller='productsCtrl as products')