
.mainCont(ng-controller="mainCtrl as ctrl")
	.appCont
		.plate
			main
				article.dataItems(ng-class="{dataItemsAfter: ctrl.changeValAnim}")

					.img(ng-class = "{hideImg: ctrl.isViewDetalis}")
						img(ng-src="img/{{ctrl.selectItem.img}}" class="appImg")
					header
						h4.title {{ctrl.selectItem.title}}
					.text(ng-class = "{viewDetalis: ctrl.isViewDetalis}")
						.description {{ctrl.selectItem.description}}
						.note {{ctrl.selectItem.note}}
					span.showDetalis(ng-click="ctrl.viewDetalis()") show detalis
				.control
					button.btnBack(ng-click="ctrl.getPrevItem()")
						.arrowBtnBack
						span.btnSpBack Prev
					button.btnForth(ng-click="ctrl.getNextItem()")
						span.btnSpForth Next
						.arrowBtnForth
					button.btnStore
						span.btnSpStore(ng-click="ctrl.goStory(ctrl.selectItem.productUrl)") Find a Store
						.arrowBtnStore

{{ctrl.changeValAnim}}